html,
*{
  box-sizing: border-box;
}

body {
  margin: 0;
  color: white;
  background-color: #080808;
}

@media only screen and (max-width: 600px){
  .App {
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    transition: all 0.5 ease-in;
    height: 100vh;
  }
  
  div.page {
    scroll-snap-align: start;
  }
}


.Projects {
  width: 100vw;
  height: 100vh;
}
.Home {
  width: 100vw;
  height: 100vh;
  /* background-color: #080808; */
}

.head{
  opacity: 0;
}

.ani{
  opacity: 1;
  transition: opacity 4s ease;
}