html,
*{
  box-sizing: border-box;
}

body {
  margin: 0;
  color: white;
}
.App{
  transition: background-color 0.5s ease-out;
  background-color: #080808;
}
/* 
@media only screen and (max-width: 600px){
  .App {
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    transition: all 0.5 ease-in;
    height: 100vh;
  }
  
  div.page {
    scroll-snap-align: start;
  }
} */


.Projects {
  width: 100vw;
  height: 100vh;
}
.Home {
  width: 100vw;
  height: 100vh;
  border-bottom: 2px solid white;
  /* background-color: #080808; */
}

.head{
  opacity: 0;
  text-decoration: underline;
  transition: opacity 1s ease;
}

.ani{
  opacity: 1;
}